<h2>{{title}}</h2>
<h4>{{user.username}}</h4>
<p>{{content}}</p>
{{!-- {{> comment-details post.comment}} --}}
{{!-- <p>{{post.comment.content}}</p> --}}
{{#if logged_in}}
<form id="comment-form" data-id="{{id}}">
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment-input" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary custom-button" type="submit">
        Comment
        </button>
    </div>
</form>
{{/if}}

{{#if logged_in}}
    <script src="/js/comments.js"></script>
{{/if}}

